.tsw_tooltip {position:absolute;z-index:10;font-family:Verdana, Helvetica, Arial, sans-serif;color:#FFFFFF;font-size:11px;line-height:14px;width:500px;}
.tsw_tooltip_container {padding:0px;border:0px;width:100%;border-spacing:0px;margin:0px;}
.tsw_tooltip_border {padding:3px;background:url(../infotooltip/images/tooltip.gif);}

.tsw_tooltip_icon
{
	background-repeat:no-repeat;
	background-position:2px 2px;
	height:44px;
	width:44px;
}
.tsw_tooltip_icon_border {background:url(../infotooltip/images/icon_border_medium.gif);height:44px;width:44px;}

.map_tooltip {position:absolute;z-index:9999;font-family:Verdana, Helvetica, Arial, sans-serif;color:#FFFFFF;font-size:11px;line-height:14px;max-width:300px;}
.map_tooltip_container {padding:0px;border:0px;width:100%;border-spacing:0px;margin:0px;}
.map_tooltip_border {padding:10px;background:url(../infotooltip/images/tooltip.gif);}

.tsw_tooltip_hr {
	border: 0px;
	color: #000000;
	background-color: #666666;
	height: 2px;
	display: block;
}
.tsw_itemlabel 			{ color: #EFDFA7;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;line-height:14px; }
.tsw_itemlabel a			{ text-decoration:none;color: #EFDFA7;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;line-height:14px; }
.tsw_itemlabel a:hover	{ text-decoration:underline;color: #EFDFA7;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;line-height:14px; }


.tsw_infolabel 			{ color: #FFFFFF;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;line-height:14px; }
.tsw_infolabel a			{ text-decoration:none;text-decoration:none;color: #c5bfb6;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;line-height:14px; }
.tsw_infolabel a:hover	{ text-decoration:underline;text-decoration:none;color: #c5bfb6;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;line-height:14px; }

.tsw_infolabel_hl 		{ color: #ffc600;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;line-height:14px; }

.tsw_infolabel_slot 		{ color: #b2b2b2;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;line-height:14px; }

.tsw_loading 			{ color: white;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;line-height:14px; }
.tsw_infolabel_hl 		{ color: #ffc600;font-family:Verdana, Helvetica, Arial, sans-serif;font-size:11px;line-height:14px; }
.tsw_skillname
{
	font-size: 14px;
	font-weight: bold;
    color: #DCD2CE;
}
.tsw_gathername
{
	font-size: 14px;
	font-weight: bold;
    color: #E1CC59;
}

.tsw_tooltiptitle {
	font-size: 14px;
	font-weight: bold;
}
.tsw_skill {
    color: #E1CC59;
}
.tsw_quest {
    color: #E1CC59;
}
.tsw_default {
    color: #FFFFFF;
}
.tsw_q1 {
	color: #ADADAD; 	/**/
}
.tsw_q2 {
	color: #F1F1F1; 	/**/
}
.tsw_q3 {
	color: #00ff16; 	/*normal/green*/
}
.tsw_q4 {
	color: #02b6ff; 	/*rare/blue*/
}
.tsw_q5 {
	color: #d565f8; 	/*epic/purple*/
}
.tsw_q6 {
	color: #ffd001; 	/*heroic/yellow*/
}


/* Slots */
.tsw_item_manastone {
	background:url(../infotooltip/images/manastonesocket.png) no-repeat;
	width:15px;
	height:15px;
	background-position:center;
	

}
.smallitemicon { width: 15px; height: 15px; }



